/*
** Styles used in the jQuery Essential Training course materials
*/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    margin: 0;
    line-height: 1.2em;
}

body > h1 {
    background-color: cornflowerblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 25pt;
    padding-bottom: 15pt;
    box-shadow: 0px 5px 5px 0px rgba(171, 171, 171, 1);
}

button {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 15px 45px;
    font-size: 48px;
    font-family:  serif;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}

button:focus {
    outline: none
}

#content {
    margin: 10pt;
}

#example {
    border: 1px solid gray;
    background-color: cornflowerblue;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color:aliceblue;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-height: 140px;
}

.box {
    border: 1px solid gray;
    background-color: #b3c8d0;
    font-size: 14pt;
    padding-left: 10pt;
    padding-right: 10pt;
    min-height: 200px;
    width: 300px;
}

.box p {
    margin: 0 1pt 0 2pt
}

.smallbox {
    border: 1px solid gray;
    background-color: cornflowerblue;
    font-size: 14pt;
    padding-left: 10pt;
    padding-right: 10pt;
    margin-bottom: 10pt;
    margin-right: 0;
    margin-left: 0;
    min-height: 150px;
    width: 200px;
}

.inline {
    display: inline-block;
}

code {
    background-color: #e8e8e8;
    border: 1px solid #a8a8a8;
    border-radius: 3px;
    padding: 1pt 2pt;
    margin: 2pt;
    font-family: "source-code-pro", Consolas, monospace;
    font-size: .9em;
}

li {
    line-height: 1.3em;
}

button {
    font-size: 14pt;
    margin: 8px;
}

#eventDetails {
    border: 1px solid #aaa;
    margin-top: 8pt;
    padding: 2pt;
}

.lineitem {
    width: 120px;
    display: inline-block
}