* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
    font-family: 'Helvetica neue', helvetica, sans-serif;
    list-style: none;
}
code,
code * {
    background-color: #333;
    font-family: monospace;
    padding: 0.2em;
}
body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100vh;
}
.mainTitle {
    text-align: center;
    margin: 1.5em 0 0;
}
.subTitle {
    text-align: center;
    margin: 1em 0;
}
.lists {
    padding: 1em 2em;
    background-color: #e1e1e1;
    list-style: none;
}
.lists li {
    background-color: #f9f9f9;
    margin: 0.3em 0 0;
}
.lists li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.lists li a h3 {
    transition: all 0.3s ease-in-out;
}
.lists li a h3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    transition: 0.3s all ease-in-out;
    z-index: 0;
}
.lists li:nth-child(odd) a h3:after {
    background-color: dodgerblue;
}
.lists li:nth-child(even) a h3:after {
    background-color: tomato;
}
.lists li a:hover h3 {
    color: #f9f9f9;
}
.lists li a:hover h3:after {
    width: 100%;
    z-index: -1;
}
.footer {
    background-color: dodgerblue;
    padding: 2em;
    position: relative;
    width: 100%;
    bottom: 0;
}
.footer .phpMyAdminLink {
    text-align: center;
}
.footer .phpMyAdminLink a {
    color: #f9f9f9;
    text-decoration: none;
    padding: 1em;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
.footer .phpMyAdminLink a:hover {
    background-color: #f9f9f9;
    color: dodgerblue;
}
