@import '_variables';
@import '_pallettes';
@import '_mixins';
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.calc-body {
    display: flex;
    flex-flow: column;
    width: 11.5em;
    margin: 0 4em;
    padding: 0.5em;
    outline: 1px solid $outline-body;
    @media (max-width: 900px) {
        width: 100%;
        margin: 0;
    }
    .screen {
        width: 100%;
        height: 2.5em;
        outline: 1px solid $outline-elements;
        margin: auto;
        margin-bottom: 0.5em;
    }
    .buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        //            outline: 1px solid green;
        button {
            flex: 25%;
            height: 4em;
            text-align: center;
            border: $outline-elements 1px solid;
            font-weight: 700;
            cursor: pointer;
        }
        .white-button {
            @include hover-color($button-white)
        }
        .grey-button {
            @include hover-color($button-grey);
        }
        .red-button {
            @include hover-color($button-red);
        }
    }
}
