.photos {
    list-style: none;
    display:flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.photos li{
    flex: 2%;
}
.photos li img {
    width: 100%;
}