* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: helvetica;
    text-decoration: none;
}
.menu {
    padding: 1em;
    text-align: right;
    background-color: #333;
}
.menu li {
    display: inline-block;
}
.menu li a {
    color: #fff;
    padding: 1em 2em;
    transition: all 0.2s ease-in-out;
}
.menu li a:hover {
    background-color: #fff;
    color: #333;
}
header h2 {
    text-align: center;
    padding: 1em;
}
.code-block {
    background-color: #333;
    padding: 1em;
    text-align: left;
    border-radius: 10px;
    margin: 0.3em 0;
}
code,
code * {
    font-family: monospace;
    color: #fff;
}
.imp {
    color: tomato;
}
i {
    color: dodgerblue;
}
.comment {
    color: grey;
}
ol {
    padding: 0 3em;
}
ol li {
    list-style: decimal;
    margin: 1em 0 0;
}
.status {
    width: 90%;
    margin: 2em auto;
    text-align: center;
    border: 3px solid red;
    padding: 2em;
}
.logInBox {
    padding: 2em;
}
.logInBox a {
    margin: 1em;
    padding: 1em 3em;
    background-color: tomato;
    color: #fff;
}
.my-form {
    /*                outline: 2px solid red;*/
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 50px;
}
.my-form * {
    margin: 12px;
}
fieldset {
    background-color: rgba(0, 0, 0, 0.2)
}
legend {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px 10px;
}

.HL {
    background: orange;
    color: white;
    margin: 0.4em;
    padding: 0.1em;
}
