body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calc-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 11.5em;
  margin: 0 4em;
  padding: 0.5em;
  outline: 1px solid #999;
}

@media (max-width: 900px) {
  .calc-body {
    width: 100%;
    margin: 0;
  }
}

.calc-body .screen {
  width: 100%;
  height: 2.5em;
  outline: 1px solid lightgray;
  margin: auto;
  margin-bottom: 0.5em;
}

.calc-body .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc-body .buttons button {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  height: 4em;
  text-align: center;
  border: lightgray 1px solid;
  font-weight: 700;
  cursor: pointer;
}

.calc-body .buttons .white-button {
  background-color: white;
}

.calc-body .buttons .white-button:hover {
  background-color: #cccccc;
}

.calc-body .buttons .grey-button {
  background-color: lightgray;
}

.calc-body .buttons .grey-button:hover {
  background-color: darkgray;
}

.calc-body .buttons .red-button {
  background-color: tomato;
}

.calc-body .buttons .red-button:hover {
  background-color: #cc4f39;
}
