html,
body {
  font-family: Helvetica, Arial, Verdana;
  font-size: 62.5%; }

.container {
  position: relative;
  top: 0;
  left: 0;
  margin: 10%; }

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    opacity: 0.4; } }

.promo {
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(45deg, rgba(77, 102, 128, 0.3), rgba(102, 128, 153, 0.8));
  /*            outline: 2px solid red;*/
  height: 250px;
  width: 300px;
  overflow-x: hidden;
  overflow-y: hidden; }
  .promo:hover {
    /*            outline: 2px solid black;*/ }
    .promo:hover .animated-layer {
      transform: translateY(0); }

.animated-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: inherit;
  height: 250px;
  width: 300px;
  background-image: linear-gradient(45deg, #db3d50, #db3d50);
  transform: translateX(100%);
  color: white;
  text-align: center;
  /*            transition: opacity 0.6s ease-out, background 0.5s linear*/
  transition: transform 750ms ease-out;
  /*            transition: transform 750ms cubic-bezier(0.18, 0.89, 0.32, 1.28);*/ }
  .animated-layer .promo-head {
    margin-top: 20%;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase; }
  .animated-layer .summary {
    margin-top: 2%;
    font-size: 1.2rem;
    padding: 0 2rem;
    line-height: 1.6rem;
    font-weight: 100;
    text-rendering: optimizeLegibility; }

a:link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-size: 1.50rem; }

.promo-span-svg {
  display: inline;
  vertical-align: middle; }

.promo-link {
  padding-right: 0.5rem; }
