<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Laravel</title>
    <style>
        ul {
            list-style: disc;
        }
        
        li {
            padding-bottom: 0.5em;
        }
        
        .code-block {
            font-family: monospace;
            padding: 1em 2em;
            width: 500px;
            background-color: #333;
            color: white;
        }

    </style>
</head>

<body>
    <h1>LARAVEL 5</h1>
    <h3>Creating Laravel Project</h3>
    <h5><b>INSTALL COMPOSER FIRST : sh composer.sh</b></h5>
    <h5><b>INSTALL JSON FORMATTER ON CHROME</b></h5>
    <ul>
        <li>
            <div class="code-block">composer create-project laravel/laravel mondayTest --prefer-dist</div>
            Creating a project "mondayTest" with Laravel in laravel/laravel
        </li>
        <li>
            <div class="code-block">
                php artisan --version
            </div>
            Checking the Laravel install version
        </li>
        <li>
            <div class="code-block">
                php artisan
            </div>
            Index of Laravel commands
        </li>
        <li>
            <div class="code-block">
                php artisan serve
            </div>
            Running Laravel Server
        </li>
    </ul>


    <h3>Routing</h3>
    <ul>
        <li>
            app > Http > routes.php shows the URL
            <div class="code-block">
                Route::get('/', function () { return view('welcome'); });
            </div>
            This process "if there is '/' in url, return 'welcome.php' view
        </li>
        <li>
            Could also use e.g. 'about/{id}' passing through variables
        </li>
        <li>
            It's actually running resources > views > welcome.blade.php
        </li>
        <li>
            .blade.php is a templating engine
        </li>
        <li>
            <div class="code-block">["myvar"=>"hello"]</div>
            This code from route.php can be called as
            <div class="code-block">{{$myvar}}</div>
            in other php files
        </li>
        OR
        <li>
            <div class="code-block">$varone = 123;</div>
            Make variables like so, and pass through using compact()
            <div class="code-block">
                compact('varone')
            </div>
        </li>
        <li>Example
            <div class="code-block">
                ROUTE::get('about', function(){
                <br> view('about',compact('varone'))
                <br>})
            </div>
        </li>
        <li>
            The css files goes into public/css/...
        </li>
        <li>
            You can give names to routes :
            <div class="code-block">
                Route::('/','<i>nameOfController</i>@<i>method</i>')->name('<i>nameOfPage</i>');
            </div>
            and call href link as :
            <div class="code-block">
                href="{{url()->route('<i>nameOfPage</i>')}}"
            </div>
        </li>
    </ul>
    <h3>Making / Connecting Controller</h3>
    <ul>
        <li>
            <div class="code-block">php artisan make:controller <i>nameOfController</i></div>
            Creates controller in HTTP/Controllers/nameOfController.php
        </li>
        <li>e.g.
            <div class="code-block">php artisan make:controller <i>TaskController</i> --resource</div>
            gives you all the necessary functions premade</li>
        Controllers goes into app/Http/Controllers
        <li>
            Create functions inside
            <div class="code-block">
                public function aboutController(){
                <br>return view('about',compact('varone'))
                <br>}
            </div>
        </li>
        <li>
            Route can be changed now to :
            <div class="code-block">
                Route::get('about','TaskController@aboutController');
            </div>
        </li>
    </ul>
    <h3>Layout Templating</h3>
    <ul>
        <li>Make a layout.blade.php in resources/views</li>
        <li>Create a template HTML DOM</li>
        <li>
            <div class="code-block">@yield('<i>name</i>')</div> is a template holder</li>
        <li>In other .blade.php files, we can bring in the template using
            <div class="code-block">@extends('layout')</div>
        </li>
        <li>Then we can call in yields by calling
            <div class="code-block">@section('<i>name</i>') @endsection</div>
        </li>
    </ul>
    <h3>Migrations : A new table that must be connected to Model</h3>
    <ul>
        <li>Create a database e.g. <i>task_dev</i></li>
        <li>Open .env file in project</li>
        <li>change DB_DATABASE to <i>task_dev</i></li>
        <li>change DB_USERNAME to <i>root</i></li>
        <li>
            <div class="code-block">
                php artisan migrate
            </div>
            Creates tables in database automatically</li>
        <li>This is done in database/migrations folder</li>
        <li>
            <div class="code-block">
                php artisan make:migration create_tasks_table --create=<i>nameOfTable</i>
                <br>php artisan make:migration create_tasks_table --create=tasks
            </div>
            This creates a new migration in database/migrations folder. Migrations should have all lowercase with plural
        </li>
        <li>
            Adjust/ add/ delete table rows by altering the migration file created
            <div class="code-block">
                $table-><i>type</i>('<i>name</i>');
                <br>$table->string('title');
                <br>$table->mediumText('description');
            </div>
        </li>
        <li>
            Run :
            <div class="code-block">
                php artisan migrate
            </div>
            Which will update the table
        </li>
        <li>If needs to be updated/refreshed,
            <div class="code-block">
                php artisan migrate:refresh
            </div>
        </li>
    </ul>
    <h3>Model : Middleware command to deal with database</h3>
    <ul>
        <li>
            <div class="code-block">
                php artisan make:model <i>nameOfModel</i>
                <br>e.g. php artisan make:model Task
            </div>
            Make model, Capitalized singular
        </li>
        <li>Model '<i>Task</i>' is linked with table '<i>tasks</i>' now</li>
        <li>This code creates <i>nameOfModel</i>.php in app folder</li>
        <li>REMEMBER ***** One Model PER Table</li>
        <li>
            <div class="code-block">
                php artisan tinker
            </div>
            and then
            <div class="code-block">
                App\Task::get()
            </div>
            will list out all the data from table 'tasks'
        </li>
        <li>In conrollers, we can load in data from database now
            <div class="code-block">
                use App\Task <i>(at the top)</i>
                <br>$tasks = Task::get()
            </div>
        </li>
        <li>
            Can use these:
            <div class="code-block">
                Task::first() <i>gets the first</i>
                <br>Task::find(2) <i>gets the id 2</i>
                <br>Task::pluck('title') <i>returns all data from column 'title'</i>
                <br>Task::pluck('title')->first() <i>returns first data from column 'title'</i>
                <br>Task::where('id',1)->get() <i>returns a row where id = 1</i>
                <br>Task::orderBy('updated_at','desc')->get() <i>order descending by updated_at</i>

                <hr>

                <br>Task::create($req->all()); <i>Creates with all the req from form</i>
                <hr>
                <br>Task->save(); <i>Saves new input data to table</i>
                <br><i>selectedColumn</i>->delete(); <i>Deletes selected column</i>
                <br>Task->update(['title'=> 'something', 'description' => 'new descripion']); <i>Updating a </i>
            </div>
        </li>
    </ul>
    <h3>Connecting Controllers</h3>
    <ul>
       <li>Create a method in a controller
        <div class="code-block">
            public function getAll(){
            <br>&nbsp; \App\<i>modelName</i>::all();
            <br>}
        </div></li>
        <li>Import other controllers by typing :
        <div class="code-block">
            use App\Http\Controllers\<i>nameOfController</i>;
        </div></li>
        <li>
            Call the controller by:
            <div class="code-block">
                $data = new <i>nameOfController;</i>
            </div>
        </li>
        
        <li>Could be called in other controller by:
        <div class="code-block">
            $data = (new <i>nameOfController</i>)->getAll();
        </div></li>
    </ul>
    <h3>Relationships between Two Models</h3>
    <ul>
        <li>In a model, create a method that returns,
        <div class="code-block">
            return $this->belongsTo('\App\<i>otherModel</i>');;
            <br>or
            <br>return $this->hasMany('\App\<i>otherModel</i>');
        </div>allows ONE to ONE or ONE to MANY</li>
        <li>
            For Example in Type has many Products:
            <div class="code-block">
               //In Type model
               <br>public function <i>product</i>(){
                <br>&nbsp;return $this->hasMany('\App\Product\');
                <br>}
            </div>
            Then in Type Controller,
            <div class="code-block">
                $products = Type::find($id)-><i>product</i>;
            </div>
            calls find primary id of Type, and show everything from Product Model
        </li>
    </ul>
    <h3>Database Seed (FAKER)</h3>
    <ul>
        <li>
            Make a seed class
            <div class="code-block">
                php artisan make:seeder <i>nameOfSeed</i>
                <br>php artisan make:seeder Testseeding
            </div>
            Creates a seed file in database/seeds/
        </li>
        <li>
            In the new seed file,
            <div class="code-block">
                factory('App\Task',5)->create();
            </div>
            in a function.
            <br>Add use 'App\Task' at the top******
        </li>
        <li>In database/factories, add in Model Factory
            <div class="code-block">
                $factory->define(App\Task::class, function (Faker\Generator $faker) {
                <br> return [
                <br> 'user_id' => $faker->numberBetween(50,500),
                <br> 'title' => $faker->catchPhrase,
                <br> 'description' => $faker->paragraph,
                <br> 'created_at' => $faker->datetime($max = 'now'),
                <br> 'updated_at' => $faker->datetime($max = 'now')
                <br> ]; });
            </div>
        </li>
        <li>
            Call in DatabaseSeeder.php in database/seeds
            <div class="code-block">
                $this->call('TaskSeeder');

            </div>
        </li>
        <li>
            run
            <div class="code-block">
                php artisan db:seed
            </div>
            which will create random datas
        </li>
    </ul>
    <h3>Sass Gulp setup</h3>
    <ul>
        <li>scss files in <i>resources/assets/sass/**.scss</i>
        </li>
        <li>On terminal:
            <div class="code-block">
                gulp
            </div>
            A css file will be created in <i>public/css</i>
        </li>
        <li>
            Make sure gulpfile.js exists in project and consists :
            <div class="code-block">
                var elixir = require('laravel-elixir');
                <br>
                <br>elixir(function (mix) {
                <br> &nbsp;mix.sass('app.scss').browserSync({
                <br> &nbsp;&nbsp; proxy:'localhost:8000'
                <br> &nbsp;});
                <br>});
            </div>
        </li>
    </ul>
    <h3>BrowserSync setup</h3>
    <ul>
        <li>
            Add this in gulpfile.js
            <div class="code-block">
                mix.sass('app.scss').browserSync({proxy:'localhost:8000'})
            </div>
        </li>
        <li>Run Artisan Serve first by:
            <div class="code-block">
                php artisan serve --host=0
            </div>
        </li>
        <li>Run :
            <div class="code-block">
                gulp watch
            </div>
        </li>
    </ul>
    <h3>Laravel Forms</h3>
    <ul>
        <li>Install laravel collective:
            <div class="code-block">
                composer require "laravelcollective/html":"^5.2.0"
            </div>
        </li>
        <li>
            In <i>config/app.php</i> :
            <div class="code-block">
                Collective\Html\HtmlServiceProvider::class,
                <br><i>in Provider Section</i>
            </div>
            <div class="code-block">
                'Form' => Collective\Html\FormFacade::class,
                <br> 'Html' => Collective\Html\HtmlFacade::class,
                <br><i>in aliases section</i>
            </div>
        </li>
        <li>
            In DOM,
            <div class="code-block">
                {!!Form::open(['url'=>'<i>nameOfPageToGoTo</i>'])!!}
                <br> {!!Form::close([])!!}
            </div>
            OR you could just use data from database!!
            <div class="code-block">
               //pass through a variable $person (select * from persons where id = 1)
                <br>{!!form::model($person,['method'=>'put'] !!)}
            </div>
            Creates Form DOM
        </li>
        <li>
            <div class="code-block">
                {!!FORM::label('<i>name</i>', '<i>value</i>', ['class'=>'<i>nameOfClass</i>']) !!}
            </div>
            <div class="code-block">
                {!!FORM::text('<i>name</i>', '<i>value</i>', ['class'=>'<i>nameOfClass</i>']) !!}
            </div>
            <div class="code-block">
                {!!FORM::submit('<i>name</i>', '<i>value</i>', ['class'=>'<i>nameOfClass</i>']) !!}
            </div>
        </li>
        <li>Create Routes :
            <div class="code-block">
                Route::get('nameOfPage'/create, function create(){return = 'create'});
                <br>
                <br>Route::post('nameOfPage', function store(Request $req)
                <br>{
                <br>&nbsp; $form_input = $req->all();
                <br>&nbsp; Task::create($form_input);
                <br>return="store"});
            </div>
        </li>
        <li>Update the Model of the table e.g. Task.php
            <div class="code-block">
                protected $fillable = ['user_id', 'title', description'];
            </div>
        </li>
    </ul>

    <h3>Authentication</h3>
    <ul>
        <li>
            <div class="code-block">
                php artisan make:auth
            </div>
            This terminal commands creates laravel authentication page
        </li>

        <li>Authenticated Page :
            <div class="code-block">->middleware('auth')</div>
            the page is only shown at login. For example :
            <div class="code-block">
                Route::get('/travel','travelController@index')->middleware('auth')
            </div>
            OR add a __construct function in controller :
            <div class="code-block">
                public function __construct(){
                <br>&nbsp;$this->middleware('auth');
                <br>}
            </div>
            OR could add authentication requirements specifically on each page like,
            <div class="code-block">
                public function __construct(){
                <br>&nbsp;$this->middleware('auth',['only'=>'index']);
                <br>}
            </div>
            <div class="code-block">
                public function __construct(){
                <br>&nbsp;$this->middleware('auth',['except'=>['index','edit']]);
                <br>}
            </div>
        </li>
        <li>Authentication Views:
            <div class="code-block">
                @if(Auth::user())
                <br><i>//if user is logged in</i>
            </div>
            <div class="code-block">
                @if(Auth::guest())
                <br><i>//if user is not logged in</i>
            </div>
        </li>
        <li>
            IF URL is ... show this / if not show this :
            <div class="code-block">
                @if(Request::is('<i>nameOfURL</i>'))
            </div>
            <div class="code-block">
                @if(!Request::is('<i>nameOfURL</i>'))
            </div>
        </li>
        <li>
            Accessing Session Details:
            <div class="code-block">
                $current_user = request()->user();
            </div>
            OR
            <div class="code-block">
                $current_user = \Auth::user();
            </div>
            <div class="code-block">
                $current_user->id;
                <br>$current_user->password; etc.
            </div>
        </li>
        <li>
            ****For change in password logging change .env file :****
            <div class="code-block">
                MAIL_DRIVER=log
            </div>
            when forgetten password is requested, storage/logs/laravel.log logs the link to change the password.
        </li>
    </ul>
</body>

</html>
