.codeblock {
  padding: 1em;
  font-family: monospace;
  cursor: pointer;
  background-color: #803224;
  color: #fff;
  border-radius: 5px;
  width: 50em;
}

.codeblock:hover {
  background-color: #401912;
}

@media (max-width: 900px) {
  .codeblock {
    width: 90%;
  }
}

.r {
  color: tomato;
}

@media (max-width: 900px) {
  .r {
    color: #ff956b;
  }
}

ol li {
  margin-bottom: 1em;
}
