body {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial;
    position: relative;
    height: 100%;
}
h2 {
    margin: 1em 0;
    text-align: center;
}
h4 {
    margin: 1em 0;
}
.code-block {
    background-color: #333;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
}
code,
code * {
    color: #fff;
    font-family: monospace;
}
.red {
    color: tomato;
}
.blue {
    color: dodgerblue;
    font-style: italic;
}
.yellow {
    color: yellow;
}
.comment {
    color: grey;
}
nav {
    background-color: dodgerblue;
    margin: 0;
}
nav ul {
    position: relative;
    text-align: right;
    margin: 0;
    padding: 2em;
}
nav ul li {
    display: inline-block;
    padding-left: 2em;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color: #f8f8f8;
}
footer {
    padding: 3em 0;
    text-align: center;
    color: #fff;
    background-color: tomato;
    float: both;
    width: 100%;
    margin-top: 100px;
}
.home {
    padding: 2em 0;
}
.home h1,
.home h2,
.home h3 {
    text-align: center;
}
form {
    padding: 2em;
    width: 50%;
    margin: auto;
}
form input {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}
form button {
    background-color: dodgerblue;
    display: block;
    outline: none;
    color: #fff;
}
form button[name="truncate-registration"] {
    background-color: tomato;
}
form button[type="submit"] {
    margin: auto;
}

.forum-table {
    width: 60%;
    margin: auto;
}
.forum-table tr {
    text-align: center;
    margin: 0;
}
.forum-table tr th {
    padding: 2em 0;
}
.forum-table tr td {
    padding: 0.5em 0;
}
.forum-table a {
    text-decoration: none;
}
.forum-table thead tr:first-child {
    background-color: dodgerblue;
    color: #fff;
}
.forum-table tbody tr:nth-child(even) {
    background-color: tomato;
    color: #fff;
}
.forum-table tbody tr:nth-child(even) a {
    color: #fff;
}
