@mixin scale($amount) {
    -webkit-transform: scale($amount);
    -ms-transform: scale($amount);
    transform: scale($amount);
}
@mixin hover-effect($color) {
    background-color: $color;
    &:hover {
        background-color: $color*0.5;
    }
}
