$main-color:tomato;
$sub-color:$main-color*0.5;

$home-header-colour: white;
$site-background-colour-1: white;
$colour-purple: rgb(111, 45, 128);
$colour-purple-hex: #6F2D80;
$colour-purple-40: rgba(111, 45, 128, 0.4);
$colour-orange:rgb(243, 107, 33);
$colour-green:rgb(179, 209, 54);
$colour-blue: rgb(38, 34, 98);
$colour-light-blue: rgb(73, 194, 194);
$colour-pink: rgb(233, 14, 139);
$colour-white:rgb(255, 255, 255);
$stores-colour: rgb(111, 45, 128);
$directory-colour: rgb(111, 45, 128);
$event-promo-colour: rgb(111, 45, 128);
$footer-colour: white;
$gifts-colour: rgb(255, 255, 255);
$gifts-colour-hex: white;
$centre-info-colour-hex: #262262;
$centre-info-colour:rgb(38, 34, 98);
$contact-us-colour: rgb(233, 14, 139);
$contact-us-colour-hex: #E90E8B;
$stores-colour: rgb(111, 45, 128);
$stores-colour-hex: #6F2D80;
$whatson-colour: rgb(73, 194, 194);
$whatson-colour-hex: #49C2C2;
$privacy-colour-hex: black;
$privacy-colour: rgb(0, 0, 0);
$terms-colour-hex: black;
$terms-colour: rgb(0, 0, 0);
$stride-colour:rgb(111, 45, 128);
