@import '_variables';
@import '_pallettes';
@import '_mixins';
.codeblock {
    padding: 1em;
    font-family: monospace;
    cursor: pointer;
    @include hover-effect($sub-color);
    //checkout mixins file
    color: #fff;
    border-radius: 5px;
    width: 50em;
    @media (max-width: 900px) {
        width: 90%;
    }
}
.r {
    color: $main-color;
    @media (max-width: 900px) {
        color: $main-color*1.5;
    }
}
ol {
    li {
        margin-bottom: 1em;
    }
}
