@import 'include_media';
$breakpoints: (phone: 320px, largerphone:480px, tablet: 768px, desktop:1024px);
html,
body {
    font-family: Helvetica, Arial, Verdana;
    font-size: 62.5%;
}
.container {
    position: relative;
    top: 0;
    left: 0;
    margin: 10%;
    @include media(">=phone", "<=tablet") {
        opacity: 0.4;
    }
}
.promo {
    position: relative;
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(30%, 40%, 50%, 0.3), rgba(40%, 50%, 60%, 0.8));
    /*            outline: 2px solid red;*/
    height: 250px;
    width: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    &:hover {
        /*            outline: 2px solid black;*/
        .animated-layer {
            transform: translateY(0);
        }
    }
}
.animated-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    box-sizing: inherit;
    height: 250px;
    width: 300px;
    background-image: linear-gradient(45deg, rgba(219, 61, 80, 1), rgba(219, 61, 80, 1));
    transform: translateX(100%);
    color: white;
    text-align: center;
    /*            transition: opacity 0.6s ease-out, background 0.5s linear*/
    transition: transform 750ms ease-out;
    /*            transition: transform 750ms cubic-bezier(0.18, 0.89, 0.32, 1.28);*/
    .promo-head {
        margin-top: 20%;
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .summary {
        margin-top: 2%;
        font-size: 1.2rem;
        padding: 0 2rem;
        line-height: 1.6rem;
        font-weight: 100;
        text-rendering: optimizeLegibility;
    }
}
a:link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-size: 1.50rem;
}
.promo-span-svg {
    display: inline;
    vertical-align: middle;
}
.promo-link {
    padding-right: 0.5rem;
}
