@import url('https://fonts.googleapis.com/css?family=Cookie|Fredericka+the+Great|Open+Sans');

/*font-family: 'Cookie', cursive;*/


/*font-family: 'Open Sans Condensed', sans-serif;*/


/*font-family: 'Fredericka the Great', cursive;*/


/*GENERAL*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /*    outline: 1px lightgray solid;*/
}
h1,
h2 {
    font-family: 'Cookie', cursive;
}
h3,
h4,
h5,
h6 {
    font-family: 'Fredericka the Great', cursive;
}
p,
a,
li,
span,
button {
    font-family: 'Open Sans', sans-serif;
}
.FLEX-COLUMN {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.FLEX {
    display: flex;
    flex-flow: row nowrap;
}
nav + div {
    flex: 1;
}

/*NAVIGATION*/

nav {
    margin: 0;
}
nav .row div .logo {
    font-family: 'Cookie', cursive;
    font-size: 1.4em;
    display: block;
}
nav .row form {
    margin: 0;
    padding: 0;
}
nav .row form .searchbox {
    width: 100%;
    border-radius: 2px;
    padding: 0.5em;
    border: 1px solid #333;
}
nav .row div:last-child ul li {
    display: inline-block;
}
nav .row div:last-child ul li a {
    color: #333;
    font-size: 0.6rem;
    margin-right: 1em;
    padding: 1em;
    position: relative;
}
nav .row div:last-child ul li a .nav_avatar {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: -3em;
}
nav .row div:last-child ul li form button {
    border: none;
    font: 1em;
    display: block;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}
nav .row div:last-child ul li a:hover {
    background-color: #f6f6f6;
}

/*FOOTER*/

footer {
    background-color: #333;
    padding: 1em 0;
}
footer > *,
footer a {
    color: #f9f9f9;
    font-size: 0.8em;
}
footer .copyrights {
    text-align: center;
    font-size: 0.5em;
}

/*INDEX*/

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}
ul.categories {
    text-align: center;
    background-color: #333;
    width: 100%;
}
.categories li {
    display: inline-block;
}
.categories li a {
    display: block;
    padding: 0.5em 2em;
    color: #f9f9f9;
    border-radius: 5px;
}
.categories li a:hover {
    background-color: #666;
}

/*GALLERY*/

#gallery {
    width: 100%;
}
#gallery .row .col-6-sm {
    width: 50%;
    margin: 0;
}
#gallery .row .post {
    position: relative;
    height: 15rem;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery .row .post img {
    flex: 1;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
}
#gallery .row .post .details {
    opacity: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;
}
#gallery .row .post .details div {
    background-color: #333;
    padding: 1em 2em;
    position: relative;
}
#gallery .row .post .details div a,
#gallery .row .post .details div h6,
#gallery .row .post .details div h3 {
    margin: 0;
    color: #fff;
}
#gallery .row .post .details div h6 a:hover {
    text-decoration: underline;
}
#gallery .row .post:hover .details {
    opacity: 100;
}
#gallery .row .post .details div .delete_btn {
    position: absolute;
    background-color: #333;
    width: 6em;
    border: none;
    padding: 0.5em;
    margin-bottom: 1em;
    right: 0;
    bottom: 0;
}
#gallery .row .post .details div .edit_btn {
    position: absolute;
    background-color: #333;
    width: 6em;
    border: none;
    padding: 0.5em;
    margin-top: 1em;
    right: 0;
    top: 0;
}
#gallery .row .post .details div .delete_btn:hover,
#gallery .row .post .details div .edit_btn:hover {
    background-color: #555;
}
.img_hover {
    transform: scale(1.2, 1.2);
}

/*ABOUT*/

#about .container .row h1 {
    text-align: center;
    margin-bottom: 1em;
}
#about .container .row p {
    font-size: 1em;
    font-family: "Open Sans Condensed", sans-serif;
    line-height: 1.5em;
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
}
#about .container .row a:hover {
    text-decoration: underline;
}
#about {
    margin: 2em 0;
}

/*REGISTER*/

#register .container h1 {
    text-align: center;
}
#register .container form {
    padding: 1em 0;
}
#register .container form fieldset {
    border: none;
}
#register .container form .warning {
    color: #FF4136;
}
#register .container form fieldset input {
    padding: 0.5em;
}
#register .container form fieldset button {
    padding: 0.5em 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
}
#register .container form fieldset button[type="submit"] {
    background-color: #333;
}
#register .container form fieldset button[type="reset"] {
    background-color: #FF4136;
}

/*REGISTER THANKS*/

#registration_thanks {
    margin: 2em 0;
    text-align: center;
}
#registration_thanks h1,
#registration_thanks h3 {
    margin-bottom: 1em;
    padding: 0 1em;
}
#registration_thanks button {
    text-align: center;
    margin: 2em 0;
    border: none;
    border-radius: 10px;
    background-color: #333;
}
#registration_thanks a {
    display: block;
    padding: 1em 2em;
    width: 100%;
    color: #f9f9f9;
}

/*LOGIN*/

#login .container h1 {
    text-align: center;
}
#login .container form {
    padding: 1em 0;
}
#login .container form fieldset {
    border: none;
}
.warning {
    color: #FF4136;
}
#login .container form fieldset label {
    margin-right: 2em;
    text-align: left;
}
#login .container form fieldset input {
    padding: 0.5em;
}
#login .container form fieldset:last-child {
    text-align: center;
    margin-top: 2em;
}
#login .container form fieldset button {
    padding: 0.5em 2em;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: #fff;
}
#login .container form fieldset button[type="submit"] {
    background-color: #333;
}

/*ADMIN PAGE*/

#admin_page .container .row {
    padding: 1em 0;
}
#admin_page .container .row h1 {
    text-align: center;
}
#admin_page .container .row .edit_btn {
    outline: none;
    border: none;
    background-color: #fff;
    padding: 1em 2em;
    border-right: 2em;
    cursor: pointer;
}
#admin_page .container .row .edit_btn:hover {
    background-color: #DDDDDD;
}
#admin_page .container .edit_div {
    /*JAVASCRIPT TOGGLE*/
    background-color: #DDDDDD;
    box-shadow: inset 3px 3px 15px -3px rgba(0, 0, 0, 0.75);
}
#admin_page .container .edit_div ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
#admin_page .container .edit_div li {
    flex: 20%;
    margin: 1em;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
}
#admin_page .container .edit_div li:hover {
    background-color: #7FDBFF;
}
#admin_page .container .edit_div .false {
    background-color: #FF4136;
}
#admin_page .container .edit_div li a {
    padding: 1em;
    display: block;
}
#admin_page .container .edit_div .users_tbl {
    margin: .3em 2em;
    background-color: #fff;
    border: none;
    font-size: 0.5em;
}
#admin_page .container .edit_div .users_tbl tr:nth-child(even) {
    background-color: #DDDDDD;
}
#admin_page .container .edit_div .users_tbl thead td {
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
    padding: 0 1em;
}
#admin_page .container .edit_div .users_tbl td:first-child {
    width: 0.1%;
}
#admin_page .container .edit_div .users_tbl td:first-child img {
    width: 100%;
}
#admin_page .container .edit_div .users_tbl td:nth-child(2) {
    width: 1%;
    text-align: center;
}
#admin_page .container .edit_div .users_tbl td:nth-child(3) {
    width: 25%;
    text-align: center;
}
#admin_page .container .edit_div .users_tbl td:nth-child(4) {
    width: 25%;
    text-align: center;
}
#admin_page .container .edit_div .users_tbl td:nth-child(5) {
    width: 25%;
    text-align: center;
}
#admin_page .container .edit_div .users_tbl td:last-child {
    width: 25%;
    text-align: center;
}
#admin_page .container .edit_div .users_tbl td:last-child button {
    width: 100%;
    height: 100%;
    background-color: #FF4136;
    border: none;
}
#admin_page .container .edit_div .users_tbl td:last-child button:hover {
    background-color: #FF9366;
}
#admin_page .container .edit_div .users_tbl td:last-child button a {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
#admin_page .container .edit_div form {
    margin: 2em;
}
#admin_page .container .edit_div form fieldset {
    border: none;
    padding: 1em;
    background-color: #001f3f;
    border-radius: 1em;
    text-align: center;
}
#admin_page .container .edit_div form fieldset label {
    color: #7FDBFF;
}
#admin_page .container .edit_div form fieldset input {
    padding: 0.2em;
    margin: 0 1em 1em 1em;
    width: 50%;
}
#admin_page .container .edit_div form fieldset button {
    padding: 0.5em 2em;
    border-radius: 1em;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
#admin_page .container .edit_div form fieldset button:hover {
    background-color: #FFDC00;
}
#admin_page .container .edit_div .threads_tbl {
    margin: .3em 2em;
    background-color: #fff;
    border: none;
    font-size: 0.5em;
}
#admin_page .container .edit_div .threads_tbl tr:nth-child(even) {
    background-color: #DDDDDD;
}
#admin_page .container .edit_div .threads_tbl thead td {
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
    padding: 0 1em;
    overflow: hidden;
}
#admin_page .container .edit_div .threads_tbl tbody td {
    overflow: hidden;
}
#admin_page .container .edit_div .threads_tbl td:first-child {
    width: 0.1%;
}
#admin_page .container .edit_div .threads_tbl td:nth-child(2) {
    width: 3%;
    text-align: center;
}
#admin_page .container .edit_div .threads_tbl td:nth-child(3) {
    width: 10%;
    text-align: center;
}
#admin_page .container .edit_div .threads_tbl td:nth-child(4) {
    width: 1%;
    position: relative;
    height: 7em;
    vertical-align: top;
}
#admin_page .container .edit_div .threads_tbl td:nth-child(4) img {
    width: 100%;
    position: absolute;
}
#admin_page .container .edit_div .threads_tbl td:nth-child(5) {
    width: 25%;
    text-align: center;
}
#admin_page .container .edit_div .threads_tbl td:last-child {
    width: 1%;
    text-align: center;
}
#admin_page .container .edit_div .threads_tbl td:last-child button {
    width: 100%;
    height: 100%;
    background-color: #FF4136;
    border: none;
}
#admin_page .container .edit_div .threads_tbl td:last-child button:hover {
    background-color: #FF9366;
}
#admin_page .container .edit_div .threads_tbl td:last-child button a {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.hidden {
    display: none;
}

/*USER DETAILS PAGE*/

#userdetails_page .container .row:first-child {
    position: relative;
    height: 100%;
}
#userdetails_page .container .row .my_details .user_detail_avatar {
    display: block;
    width: 15em;
    height: 15em;
    margin: auto;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}
#userdetails_page .container .row .my_details {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: center;
}
#userdetails_page .container .row .my_details li {
    margin: 0.5em 0;
}
#userdetails_page .container .row .my_details li button {
    border: none;
    background-color: #fff;
    margin-right: 2em;
}
#userdetails_page .container .row .my_details li button a {
    display: block;
    padding: 1em 2em;
    width: 100%;
    height: 100%;
}
#userdetails_page .container .row .my_details li button a:hover {
    background-color: #333;
    color: #fff;
}

/*NEW THREAD*/

#new_thread {
    margin: 1em 0;
}
#new_thread .container h1 {
    text-align: center;
}
#new_thread .container form fieldset {
    border: none;
}
#new_thread .container form fieldset label {
    text-align: right;
}
#new_thread .container form fieldset:last-child {
    text-align: center;
}
#new_thread .container form fieldset button {
    width: 100%;
    padding: 1em 2em;
    border: none;
    background-color: #eee;
    transition: all 0.3s ease-in-out;
}
#new_thread .container form fieldset button:hover {
    background-color: lightgrey;
}

/*EDIT THREAD*/

#edit_thread .container .row .img_box {
    position: relative;
    background-color: #222;
    height: 80vh;
}
#edit_thread .container .row .img_box #thread_image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}
#edit_thread .container h1 {
    text-align: center;
}
#edit_thread .container form fieldset {
    border: none;
}
#edit_thread .container form fieldset label {
    text-align: right;
}
#edit_thread .container form fieldset:last-child {
    text-align: center;
}
#edit_thread .container form fieldset button {
    width: 100%;
    padding: 1em 2em;
    border: none;
    background-color: #eee;
    transition: all 0.3s ease-in-out;
}
#edit_thread .container form fieldset button:hover {
    background-color: lightgrey;
}

/*SINGLE THREAD*/

#single_thread {
    margin: 2em 0;
}
#single_thread .container .row .img_box {
    position: relative;
    background-color: #222;
    height: 80vh;
}
#single_thread .container .row .img_box #thread_image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}
#single_thread .container .row .img_box .detail_box {
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    text-align: right;
}
#single_thread .container .row .img_box .detail_box ul {
    position: absolute;
    padding: 2em;
    right: 0;
    bottom: 0;
}
#single_thread .container .row .img_box .detail_box li {
    margin: 1em 0 0;
}

#single_thread .container .row .img_box .detail_box li > *,
#single_thread .container .row .img_box .detail_box li a {
    color: #fff;
}
#single_thread .container .row .img_box .detail_box li .button {
    padding: 0.5em 0 1em;
    display: block;
}
#single_thread .container .row .img_box .detail_box li a:hover {
    text-decoration: underline;
}
#single_thread .container .row .img_box .detail_box li a .avatar {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    vertical-align: middle;
}
#single_thread .container .row .img_box .detail_box li #description {
    font-size: 0.8em;
}
#single_thread .container .row .img_box .detail_box:hover {
    opacity: 100;
}
#single_thread .container .row .comments ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
#single_thread .container .row .comments ul li {
    padding: 0.5em;
}
#single_thread .container .row .comments .others_comments:nth-child(even) {
    background-color: lightgrey;
}
#single_thread .container .row .comments ul .avatar {
    position: relative;
    width: 2em;
    height: 2em;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    border-radius: 100%;
}
#single_thread .container .row .comments .others_comments .user {
    flex: 2;
}
#single_thread .container .row .comments .others_comments .comment {
    flex: 9;
}
#single_thread .container .row .comments .others_comments .remove button {
    width: 100%;
    border: none;
    background: none;
}
#single_thread .container .row .comments .others_comments .remove button a {
    padding: 0.5em;
}
#single_thread .container .row .comments .others_comments .remove button a:hover {
    color: white;
    background-color: #FF4136;
}
#single_thread .container .row .comments .my_comment .my_comment_field {
    flex: 1;
}
#single_thread .container .row .comments .my_comment .my_comment_field form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}
#single_thread .container .row .comments .my_comment .my_comment_field form input {
    height: 100%;
    width: 100%;
    padding: 0.5em;
}
#single_thread .container .row .comments .my_comment .my_comment_field form button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 2em;
    border: 2px solid #333;
    background-color: #fff;
}
#voted,
.fa-heart-o {
    color: red;
}
@media only screen and (min-width: 45em) {
    /* 720px */
    #gallery .row .col-3 {
        margin: 0;
        width: 25%;
    }
    #register .container form fieldset label {
        text-align: right;
        margin-bottom: 0;
    }
    #login .container form fieldset label {
        text-align: right;
    }
    #userdetails_page .container .row .my_details img {
        width: 30%;
    }
    #single_thread .container .row .img_box .detail_box ul {
        max-width: 60%;
    }
}
