html {
    font-size: 62.5%;
    font-family: helvetica;
}
body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

/*READ THIS FOR LOAD PAGE ANIMATION */

.loader-parent {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
}
.loader {
    height: 100px;
    flex: 1;
    text-align: center;
}
svg {
    width: 80px;
    height: 80px;
}
svg path,
svg rect {
    fill: #FF6700;
}
.loader-parent {
    animation-name: fade-out;
    animation-duration: 1.4s;
    animation-play-state: paused;
    animation-iteration-count: 1;
}
.fade-out-loader {
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/************/

.container {
    margin: auto;
    max-width: 1200px;
}
.responsive-image {
    display: block;
    max-width: 100%;
}
.cell img {
    min-width: 100%;
    height: auto;
    border-bottom: 6px solid #ff3322;
    margin-bottom: 8px;
}
.cell > span {
    font-size: 2rem;
    display: block;
    text-align: center;
    padding: 0.5em 0;
}

/*
        .cell > span:before{
          content: " - ";
        }
*/

@media screen and (min-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .cell {
        width: 50%;
    }
}
@media screen and (min-width: 1000px) {
    .cell {
        margin: 20px;
        width: calc(100% / 3.4);
        background-color: tomato;
    }
}
nav ul {
    background-color: #111;
    text-align: right;
    margin: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
ul li img#cartIcon {
    filter: invert();
    height: 20px;
}
ul li .cart_number {
    background-color: tomato;
    padding: 0.2em 0.5em;
    border-radius: 10px;
}
a {
    display: block;
    height: 100%;
    text-align: center;
    margin: 1em;
    text-decoration: none;
}
button {
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    padding: 0;
}
button a {
    padding: 1.5em 2em;
    margin: 0;
}
.view_cart_tbl {
    width: 80%;
    margin: 5em auto;
}
.view_cart_tbl .tbl_head tr th {
    padding: 1em 0;
}
.view_cart_tbl .tbl_head tr th:nth-child(odd) {
    background-color: #222;
    color: #fff;
}
.view_cart_tbl .tbl_body tr:nth-child(odd) {
    background-color: #f9f9f9;
}
.view_cart_tbl .tbl_body tr:nth-child(even) {
    background-color: #e9e9e9;
}
.view_cart_tbl .tbl_body tr:last-child {
    background-color: #fff;
}
.view_cart_tbl .tbl_body tr td:first-child {
    width: 15%;
    height: 100px;
    position: relative;
    overflow: hidden;
}
.view_cart_tbl .tbl_body tr td:nth-child(2) {
    width: 10%;
}
.view_cart_tbl .tbl_body tr td:nth-child(3) {
    width: 50%;
}
.view_cart_tbl .tbl_body tr td:nth-child(5) {
    text-align: right;
    padding-right: 0.3em;
}
.view_cart_tbl .tbl_body tr img {
    width: 100%;
    position: absolute;
    left: 0;
    top: -50%;
}
.view_cart_tbl .tbl_body tr {
    text-align: center;
}
.view_cart_tbl .tbl_body .totalPrice {
    border-top: 2px black double;
}
.emptycart {
    text-align: center;
}
