/*modal styling*/
.modal{
    width: 70%;
    max-width: 40em;
    text-transform: uppercase;
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: 100;
    padding: 2em;
    border-radius: 0.2em;

    transition:all ease 1s;
    opacity: 0;

}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;

    transition:all ease 1s;
    opacity: 0;

}

.modalDismiss{
    position: absolute;
    top:0.2em;
    right:0.2em;
    cursor: hand;
}

.fadeIn{
    opacity: 1 !important;
}

.hide{
    display: none !important;
}


/*// forms*/
.formGroup{
    padding: 0.5em 0;

}

.formGroup label{
    display: block;
    width: 40%;
    float: left;
    text-align: right;
    font-weight: bold;
    padding-right:1em;
    box-sizing:border-box; /*for fixing wee alignment*/
}

.formGroup label span{
    display: block;
    font-weight: normal;
    color: gray;
    font-size: 0.7em;

}

.formGroup input{
    display: block;
    width: 40%;
    float: left;
    height: 1.5em;

}

.formGroup:after{

    content: "";
    display: block; 
    clear:both;
}

.formGroup.buttonGroup{
    padding-left: 40%;
}

.formGroup.buttonGroup input{
    height: auto;
    width: auto;
    display: inline-block;
    margin-right: 1em;
}
