.image-holder {
    position: relative;
}
.add-to-cart {
    position: absolute;
    top: 0;
    background-color: rgba(256, 256, 256, 0.7);
    width: 100%;
    height: 15%;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-to-cart .buttons {
    padding: 0 0.5em;
    display: flex;
    align-items: center;
}
.glyphicon {
    color: orange;
}
#fish-gallery .title {
    color: dodgerblue;
}
#fish-gallery .description {
    font-family: sans-serif;
    line-height: 1.5em
}
.affix {
    z-index: 9999;
}
nav{
    background-color: #fff;
    width: 100%;
}