* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: helvetica;
    list-style: none;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    display: flex;
    height: 100vh;
    flex-flow: column;
    justify-content: space-between;
}
h3 {
    text-align: center;
    padding: 1em;
}
nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}
nav div {
    height: 10%;
    padding: 1em 3em;
    background-color: #f3f3f3;
    color: #333;
}
nav ul {
    height: 10%;
    background-color: #333;
    position: relative;
    flex: 1;
    text-align: right;
}
nav ul li {
    display: inline-block;
    height: inherit;
}
nav ul li a {
    display: block;
    padding: 1em;
    color: #fff;
}
nav ul li a:hover {
    background: #fff;
    color: #333;
}

/*HOME*/

#home {
    display: block;
    margin: 3em 0;
}
ul.message_grps {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2em auto;
    position: relative;
}
.message_grps li {
    display: inline-block;
    border: 3px solid #333;
}
.message_grps li a {
    display: block;
    padding: 1em;
    height: 100%;
    color: #333;
    font-weight: bold;
}
.message_grps li a:hover {
    background: #333;
    color: #fff;
}
ul.message_th {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
.message_th li {
    width: 25%;
    position: relative;
    padding: 1em;
    text-align: center;
}
.message_th .message_content {
    background-color: #333;
}
.message_th li img {
    width: 100%;
    font-size: 0;
    display: block;
}
.message_th a {
    color: #fff;
    display: block;
    width: 100%;
    border: 2px solid #333;
}
.message_th a h5 {
    padding: 1em;
}
.message_th a:hover {
    background-color: #fff;
    color: #333;
}

/*NEW MESSAGE*/

#new_message_page {
    flex: 1;
    margin: 3em 0;
}
.newMsgFrm {
    width: 80%;
    margin: auto;
}
.newMsgFrm label {
    font-weight: bold;
}
.newMsgFrm input[name="title"],
.newMsgFrm input[name="image_upload"],
.newMsgFrm textarea[name="message"]{
    display: block;
    margin-bottom: 1.2em;
    width: 100%;
}

.newMsgFrm select[name="group_id"]{
    display:block;
    margin-bottom: 1.2em;
    width: 30%;
}
.newMsgFrm input[name="title"] {
    padding: 0.5em;
    font-size: 1.3em;
}
.newMsgFrm textarea[name="message"] {
    padding: 0.5em;
    font-size: 1.2em;
}
.newMsgFrm input[type="submit"] {
    font-size: 1em;
    background-color: dodgerblue;
    border: none;
    padding: 1em 2em;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.newMsgFrm input[type="submit"]:hover {
    background-color: #333;
}

/*FOOTER*/

footer {
    text-align: center;
    background: tomato;
    padding: 2em 0;
}
footer span {
    color: #fff;
}
