html,
body {
    background-image: linear-gradient(90deg, grey, plum, grey);
}

h3 {
    font-family: cursive;
    font-size: 30rem;
    color: white;
    margin: auto 0;
    text-align: center;
}

a:link,
a:visited,
a:active,
a:hover {
    color: white;
    text-shadow: 2px 2px 4px grey;
}

a:hover {
    color: black;
    text-shadow: 2px 2px 4px grey;
}

div {
    width: 100%;
    height: auto;
}

.flex-container {
    width: 60vw;
    color: white;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item {
    flex: 1 1 auto;
    /*        outline:1px solid red;*/
}

.red-text{
    color: firebrick;
}
